@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased bg-stone-50 text-stone-900;
}


.animate-fadeIn {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}